<!-- 
Launches sample subscriber.
Depends on `manager.launch`.
-->
<launch>
  <arg name="manager_name" default="cepton_manager" doc="Nodelet manager node name."/>

  <node pkg="nodelet" type="nodelet" name="cepton_subscriber" args="load cepton_ros/SubscriberNodelet $(arg manager_name)" output="screen"/>
</launch>